# BC ENVIRONMENT SETTINGS
EXPO_PUBLIC_BC_TENANT_ID=
EXPO_PUBLIC_BC_ENVIRONMENT=Production
EXPO_PUBLIC_BC_COMPANY_ID=

# ENTRA ID AUTH
EXPO_PUBLIC_BC_CLIENT_ID=
EXPO_PUBLIC_BC_CLIENT_SECRET=
EXPO_PUBLIC_BC_SCOPE=https://api.businesscentral.dynamics.com/.default

# API SETTINGS
EXPO_PUBLIC_BC_BASE_URL=https://api.businesscentral.dynamics.com/v2.0